@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::after, ::before{
    line-height: 1.2;
    font-family: 'Quicksand', sans-serif;
}

@layer components {
    .bt-base{
        @apply overflow-hidden cursor-pointer transition-all focus-visible:outline-gray-100 
        after:absolute after:w-full after:h-full
        after:bg-white after:top-0 after:left-0 after:opacity-0 hover:after:opacity-30
        disabled:after:opacity-30 py-4 px-5 rounded-md relative xl:py-3 xl:px-4
    }
    .other {
        @apply md:grid-cols-1
    }
    .slader_container {
        @apply grid -mx-4 overflow-x-scroll grid-flow-col scroll-smooth xl:-mx-3 sm:-mx-2 mb-4
    }
    .slader__item {
        @apply snap-start px-2 xl:px-3 sm:px-2
    }
    .orange-100{
        @apply text-orange-100
    }
    .orange-500{
        @apply  text-orange-500 
    }
    .red-500{
        @apply  text-red-500 
    }
    .sky-200{
        @apply text-sky-100 
    }
    .sky-500{
        @apply  text-sky-500 
    }
    .sky-700{
        @apply  text-sky-700 
    }

}